@{
    ViewData["Title"] = "FIPS 140-2 Compliance";
}
<h1>@ViewData["Title"]</h1>
<p>This application/service utilizes: System.Security.Cryptography, specifically "AesCryptoServiceProvider"</p>
<p>Information pertaining to FIPS 140-2 regarding development and "cryptographic modules":</p>
<p><a target="_blank" title="Any Microsoft .NET Framework applications, such as Microsoft ASP.NET or Windows Communication Foundation (WCF), only allow algorithm implementations that are validated to FIPS 140, meaning only classes that end in 'CryptoServiceProvider' or 'Cng' can be used." href="https://docs.microsoft.com/en-us/windows/security/threat-protection/fips-140-validation#information-for-software-developers">https://docs.microsoft.com/en-us/windows/security/threat-protection/fips-140-validation#information-for-software-developers</a></p>

<p><a target="_blank" title="The Federal Information Processing Standard (FIPS) Publication 140-2, (FIPS PUB 140-2),[1][2] is a U.S. government computer security standard used to approve cryptographic modules. The title is Security Requirements for Cryptographic Modules. Initial publication was on May 25, 2001 and was last updated December 3, 2002." href="https://en.m.wikipedia.org/wiki/FIPS_140-2">https://en.m.wikipedia.org/wiki/FIPS_140-2</a></p>
